body{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
}
/* 상단영역 */
header{
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  left: calc(50% - 550px);
  position: absolute;
  z-index: 2;
}
header h1 a{
  background-image: url(../img/hj_logo.jpg);
  width: 230px;
  height: 25px;
  display: block;
  font-size: 0px;
}
nav{
  display: flex;
  /*! position: relative; */
}
ul{
  display: flex;
}
ul.gnb{
  border-top: 1px solid #a6a4a4;
  /*! padding-top: 10px; */
}
ul.gnb li a{
  padding: 10px 30px;
  display: block;
}
ul.gnb li a:hover{
  color:#ff2f2f;
  border-top: 1px solid blue;
  background-color: lightblue;
}
ul.etcmenu{
  position: absolute;
  top: 8px;
  right: 0px;
} 
ul.etcmenu li a{
  padding:5px 16px;
  font-size: 14px;
  display: block;
}
ul.etcmenu li:first-child a::after{
   content: "▼";
  color: gray;
  font-size: 7px;  
  vertical-align: 3px;  /*글자 수직 정렬*/
  margin-left: 4px;
}
ul.etcmenu li a:hover{
  color:#ed0000;
}
/* 타이틀영역 */
div#title{
  height: 600px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/title.jpg);
  background-size: cover;
  background-position-y: 50%;
  background-attachment: fixed;
  position: relative;
}
div#title h2{
  font-size: 50px;
  /*! margin-bottom: 30px; */
}
div#title h2 span{ 
  font-weight: 500;
}
div#title h2::after{
  content: "";
  /*! color: black; */
  display: block;
  width: 2px;
  background-color: #666;
  margin: 25px auto;
  height: 60px;
}
div#title p{
  margin-bottom: 30px;
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
}
div#title a{
  background-color: green;
  color: white;
  text-align: center;
  width: 100px;
  height: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
div#title a::before{
  content: "";
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom-color: green;
  display: block;
  position: absolute;
  top: -35px;
  border-bottom-width: 35px;
  border-top-width: 0px;
}
div#title a::after{
  content: "";
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top-color: green;
  display: block;
  position: absolute;
  top: 40px;
  border-top-width: 35px;
  border-bottom-width: 0px;
}
div#title::before{
  content:"";
  display: block;
  border: 290px solid rgba(253, 125, 75, 0.2);
  border-right-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  left: 0px;
  border-bottom-width: 130px;
  top: 0px;
  border-right-width: 620px;
}
div#title::after{
  content:"";
  display: block;
  border: 290px solid rgba(118, 223, 255, 0.20);
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  right: 0px;
  border-bottom-width: 130px;
  bottom: 0px;
  border-right-width: 620px;
}
/* 메인영역 */
main {
 
 }
main section#intro {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}
main section#intro div {
  width: 1100px;
 }
main section#intro div h2 {
  display: none;
 }
main section#intro div ul {
  justify-content: space-between;
 }
main section#intro div ul li {
  width: calc(100% / 4 - 60px / 4);
  height: 260px;
  background-color: #ccc;
 }
main section#intro div ul li a p{
  
}
main section#intro div ul li a h3{
}
main section#intro div ul li:nth-child(1) a{
  background: -webkit-gradient(radial,circle, left top, left bottom, color-stop(0, #dbe2e7), color-stop(1, #8ca2b2));
	background: -moz-radial-gradient(circle, #dbe2e7 10%, #8ca2b2 100%);
	background: -webkit-radial-gradient(circle,  #dbe2e7 10%, #8ca2b2 100%);
	background: -o-radial-gradient(circle,  #dbe2e7 10%, #8ca2b2 100%);
	background: -ms-radial-gradient(circle,  #dbe2e7 10%, #8ca2b2 100%);
	background: radial-gradient(circle,  #dbe2e7 10%, #8ca2b2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ff84', endColorstr='#8ca2b2', gradientType=0);
}
main section#intro div ul li:nth-child(2) a{
  background: -webkit-gradient(radial,circle, left top, left bottom, color-stop(0, #e6edf0), color-stop(1, #b1c8d0));
	background: -moz-radial-gradient(circle, #e6edf0 10%, #b1c8d0 100%);
	background: -webkit-radial-gradient(circle,  #e6edf0 10%, #b1c8d0 100%);
	background: -o-radial-gradient(circle,  #e6edf0 10%, #b1c8d0 100%);
	background: -ms-radial-gradient(circle,  #e6edf0 10%, #b1c8d0 100%);
	background: radial-gradient(circle,  #e6edf0 10%, #b1c8d0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ff84', endColorstr='#8ca2b2', gradientType=0);
}
main section#intro div ul li:nth-child(3) a{
  background: -webkit-gradient(radial,circle, color-stop(0, #f1f1f1), color-stop(1, #d1d1d3));
	background: -moz-radial-gradient(circle, #f1f1f1 10%, #d1d1d3 100%);
	background: -webkit-radial-gradient(circle,  #f1f1f1 10%, #d1d1d3 100%);
	background: -o-radial-gradient(top,  #f1f1f1 10%, #d1d1d3 100%);
	background: -ms-radial-gradient(circle,  #f1f1f1 10%, #d1d1d3 100%);
	background: radial-gradient(circle,  #f1f1f1 10%, #d1d1d3 100%);	
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ff84', endColorstr='#8ca2b2', gradientType=0);
}
main section#intro div ul li:nth-child(4) a{
  background: -webkit-gradient(radial,circle, left top, left bottom, color-stop(0, #edebe3), color-stop(1, #c7c0a7));
	background: -moz-radial-gradient(circle, #edebe3 10%, #c7c0a7 100%);
	background: -webkit-radial-gradient(circle,  #edebe3 10%, #c7c0a7 100%);
	background: -o-radial-gradient(circle,  #edebe3 10%, #c7c0a7 100%);
	background: -ms-radial-gradient(circle,  #edebe3 10%, #c7c0a7 100%);
	background: radial-gradient(circle,  #edebe3 10%, #c7c0a7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ff84', endColorstr='#8ca2b2', gradientType=0);
}
main section#intro div ul li a {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
main section#intro div ul li:hover a{
  
  transform: scale(1,0.99) rotate(0)skew(0,0) translate(0,0);
  -webkit-transform: scale(1,0.99) rotate(0)skew(0,0) translate(0,0);
  -moz-transform: scale(1,0.99) rotate(0)skew(0,0) translate(0,0);
  transform-origin: 50% 50%;
  background-color: rgba(171, 70, 255, 0.55);
}
main section#intro div ul li:nth-child(1) a::before{
  content: "";
  background-image: url(../img/stream.svg);
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 10px;
}
main section#intro div ul li:nth-child(2) a::before{
  content: "";
  background-image: url(../img/cloud.svg);
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 10px;
  opacity: 0.3;
}
main section#intro div ul li:nth-child(3) a::before{
  content: "";
  background-image: url(../img/settings.svg);
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 10px;
}
  main section#intro div ul li:nth-child(4) a::before{
  content: "";
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 10px;
  background-image: url(../img/podcasts.svg);
}
main section#intro div ul li a::after{
  content:"";
}